<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"] - Smart Home Portal</title>
    @RenderSection("Scripts", false)
</head>
<body>
    <div>
        <a href="Home">ホーム</a>
        <a href="Device">デバイス</a>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
